<div class="container col-12 d-none d-md-block mt-4 mb-5">

    <h6>Search supported flowers:</h6>

    <input id="typeahead-focus" type="text" class="form-control mb-3" [(ngModel)]="model" [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead" />

    <p>
        <i>
            * Only flowers named in this list are supported for classification
        </i>
    </p>
    <hr class="mb-5">
    
</div>


<div class="container col-10 col-sm-6 mb-5 d-md-none">
    <label for="typeahead-focus">Search supported flowers:</label>
    <input id="typeahead-focus" type="text" class="form-control mb-3" [(ngModel)]="model" [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead" />
    <p>
        <i>
            * Only flowers named in this list are supported for classification
        </i>
    </p>
    <hr class="mb-5">
</div>