<ng-template #rt let-r="result" let-t="term">
    <div class="row">
        <img [src]="r.img" class="mr-1" style="margin-left: .25rem; padding-left: 10px; width: 48px; height: 48px;"
            appSendContent #img1>
        <div class="col-8"
            style="margin-right: 0px; padding-right: 0; padding-left: 5px; display: flex; align-items: center;">
            <ngb-highlight style="flex-wrap: wrap; overflow-wrap: break-word;" [result]="r.name" [term]="t">
            </ngb-highlight>
        </div>
    </div>
</ng-template>


<div class="container col-12 d-none d-md-block dropdown-wrapper" style="padding-left: 0;">

    <h6 class="mt-5">Search supported flowers:</h6>

    <input id="typeahead-template" type="text" #input class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
        [resultTemplate]="rt" [inputFormatter]="formatter" (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value);" (selectItem)="onSelect($event, input)"
        #instance="ngbTypeahead" />

    <p class="mt-3" *ngIf="!imgSrc">
        <strong>
            <i>
                * Only flower species named in this list are supported
            </i>
        </strong>
    </p>

    <div class="col-12 div-wrapper mt-3">
        <img [src]="imgSrc" class="img-wrapper" alt="" *ngIf="imgSrc">
    </div>

    <div class="row div-wrapper align-items-center">
        <p class="col-auto mb-0">{{flowerName}}</p>
        <button class="btn btn-primary" *ngIf="imgSrc" (click)="onFlowerSelected()">Use</button>
    </div>

</div>


<div class="container col-10 col-sm-6 d-md-none dropdown-wrapper-2" style="padding-left: 30px;">

    <h6>Search supported flowers:</h6>

    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
        [resultTemplate]="rt" [inputFormatter]="formatter" (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)" (selectItem)="onSelect($event, input)"
        #instance="ngbTypeahead" />

    <p class="mt-3" *ngIf="!imgSrc">
        <strong>
            <i>
                * Only flowers species named in this list are supported
            </i>
        </strong>
    </p>

    <div class="col-12 div-wrapper mt-3">
        <img [src]="imgSrc" class="img-wrapper" alt="" *ngIf="imgSrc">
    </div>

    <div class="row div-wrapper align-items-center">
        <p class="col-auto mb-0">{{flowerName}}</p>
        <button class="btn btn-primary" *ngIf="imgSrc" (click)="onFlowerSelected()">Use</button>
    </div>

    <hr>
</div>