<app-body-page>
    <!-- provides an extra margin at the top -->
    <div class="col-12" style="height: 25px;"></div>

    <div class="container" style="padding-left: 0; padding-right:0;">
        <div class="row div-wrapper mb-5">
            <h3>Flower Classifier</h3>
        </div>

        <div class="row">
            <div class="col-12 mt-3"></div>
        </div>

        <div class="row mb-4 justify-content-center">

            <div class="col-12 col-md-3" style="padding-left: 0;">
                <app-flower-list></app-flower-list>
            </div>

            <!-- image upload: step 1 -->
            <div class="col-12 col-md-3">
                <h5 class="text-center mt-5">
                    1.
                    <u>
                        pick an image
                    </u>
                </h5>
                <app-image-picker></app-image-picker>
                <h4 class="text-center mb-4">OR</h4>
                <app-upload-img></app-upload-img>
            </div>


            <!-- result output: step 2 -->
            <div class="col-12 col-md-3" *ngIf="renderResults" [@leaveTrigger]>
                <app-results></app-results>
            </div>

            <!-- feedback: step 3 -->
            <div class="col-12 col-md-3" style="padding-right: 0;" *ngIf="renderFeedback" [@leaveTrigger]>
                <app-feedback></app-feedback>
            </div>

        </div>

        <div class="col-12" style="height: 10vh;"></div>

        <div class="row mb-5 justify-content-center">
            <app-accuracy *ngIf="appSvc.accuracy"></app-accuracy>
        </div>
    </div>

</app-body-page>