<app-body-page>
    <!-- provides an extra margin at the top -->
    <div class="col-12" style="height: 25px;"></div>

    <div class="container">
        <div class="row mb-5 justify-content-center">
            <app-accuracy *ngIf="appSvc.accuracy"></app-accuracy>
        </div>

        <div class="row mb-4 justify-content-center">

            <div class="col-12 col-md-3">
                <app-flower-list></app-flower-list>
            </div>

            <!-- image upload: step 1 -->
            <div class="col-12 col-md-3">
                <h1 class="mb-3 text-center">1. pick an image</h1>
                <app-image-picker></app-image-picker>
                <h3 class="text-center mb-4">OR</h3>
                <app-upload-img></app-upload-img>
            </div>


            <!-- result output: step 2 -->
            <div class="col-12 col-md-3" *ngIf="renderResults" [@leaveTrigger]>
                <app-results></app-results>
            </div>

            <!-- feedback: step 3 -->
            <div class="col-12 col-md-3" *ngIf="renderFeedback" [@leaveTrigger]>
                <app-feedback></app-feedback>
            </div>

        </div>
    </div>

</app-body-page>