<app-body-page>
    <!-- provides an extra margin at the top -->
    <div class="col-12" style="height: 25px;"></div>

    <div class="container" style="padding-left: 0; padding-right:0;">
        <div class="row div-wrapper mb-5">
            <h3>Flower Classifier</h3>
        </div>
        <hr class="d-none d-sm-block">

        <!-- spacer -->
        <div class="row">
            <div class="col-12 mt-3"></div>
        </div>

        <div class="row mb-4 justify-content-center">

            <div class="col-12 col-md-3" style="padding-left: 0;">
                <app-flower-list></app-flower-list>
            </div>

            <!-- image upload: step 1 -->
            <div class="col-12 col-md-3">
                <app-image-picker></app-image-picker>
                <app-upload-img></app-upload-img>
            </div>

            <!-- result output: step 2 -->
            <div class="col-12 col-md-3" *ngIf="renderResults" [@leaveTrigger]>
                <app-results></app-results>
            </div>

            <!-- feedback: step 3 -->
            <div class="col-12 col-md-3" style="padding-right: 0;" *ngIf="renderFeedback" [@leaveTrigger]>
                <app-feedback></app-feedback>
            </div>

        </div>

        <!-- spacer -->
        <div class="col-12" style="height: 5vh;"></div>

        <div class="row justify-content-center">
            <app-accuracy *ngIf="appSvc.accuracy"></app-accuracy>
        </div>
    </div>

</app-body-page>