<div class="container">
    <h5>Website Description</h5>
    <p> 
        My name is Stephen, and this is my website.
        I have a few projects that I wanted people to be able to play with, and decided I needed a place to publish them.
        I figured it was a good opportunity to challenge myself and grow my skill-set as a software engineer, and boy
        was I right. While some facets are bare-bones at the moment, there is much more to come.
    </p>
</div>

<hr>

<div class="media">
    <img src="{{ aboutMe.imgPath }}" class="align-self-start mr-3 rounded-sm" alt="my portrait"
        style="max-height: 125px; max-width: 125px;">
    <div class="media-body">
        <h5 class="mt-0">About me</h5>
        <p>
            I'm a true nerd at heart, I love building things. I have a great sense of humor and love collaborating with teammates.
            My software interests include application development, devops, 
            data science, machine learning, and software architecture. My hobbies include playing volleyball, soccer, being a
            part-time fantasy GM for the Celtics, and crypto. If you are interested in learning more about me, feel free to 
            check out the contact me tab HERE. 
        </p>
    </div>
</div>