<div class="col-12" style="padding-right: 0;">
    <h3>
        Home
    </h3>
    <hr>
</div>

<div class="row d-none d-sm-flex">

    <div class="col-7">

        <div class="col-12">
            <h5 class="mt-0">About me</h5>
            <p>
                My name is Stephen, and this is my website.
                Here are some things you should know about me: <br>
            </p>

            <ul style="list-style-type: square;">
                <li>
                    I'm a true nerd at heart, I love using tech to solve problems.
                </li>
                <li>
                    I have a great sense of humor. (insert joke here) see?
                </li>
                <li>
                    I am enthusiastic software engineer, husband, and soccer fan.
                </li>
            </ul>


            <p>
                My software interests include
                application development, devops, data science, machine learning, and software architecture.

                My hobbies include
                playing volleyball, playing soccer, being a part-time fantasy GM for the Celtics, and crypto.
            </p>

            <p>
                If you are interested in learning more about me, feel free to check out the
                <a routerLink="/contact">contact me</a> page.
            </p>

            <hr>
        </div>

        <div class="col-12">
            <h5>Website Description</h5>
            <p>
                I have a few projects that I wanted people to be able to play with, and decided I needed a place to
                publish them.
                I figured this was a good opportunity to challenge myself and grow my development skill-set...
                boy was I right.
                I will be adding more projects to the website over time, so be on the lookout for updates to the
                <a routerLink="/projects">projects</a> page.
            </p>
        </div>

    </div>

    <div class="col-5">
        <img [src]="aboutMe.imgPath" alt="" class="rounded-sm w-100" style="max-height: 50vh;">
    </div>

</div>


<div class="col-12 d-sm-none">

    <div class="container">
        <div class="media mb-2">
            <img src="{{ aboutMe.imgPath }}" class="align-self-start mr-3 rounded-sm" alt="my portrait"
                style="max-height: 125px; max-width: 125px;">
            <div class="media-body">
                <h5 class="mt-0">About me</h5>
                <p>
                    My name is Stephen, and this is my website.
                    Here are some things you should know about me: <br>
                </p>
            </div>
        </div>

        <ul style="list-style-type: square;">
            <li>
                I'm a true nerd at heart, I love using tech to solve problems.
            </li>
            <li>
                I have a great sense of humor. (insert joke here) see?
            </li>
            <li>
                I am enthusiastic software engineer, husband, and soccer fan.
            </li>
        </ul>

        <p>
            My software interests include
            application development, devops, data science, machine learning, and software architecture.

            My hobbies include
            playing volleyball, playing soccer, being a part-time fantasy GM for the Celtics, and crypto.
        </p>

        <p>
            If you are interested in learning more about me, feel free to check out the
            <a routerLink="/contact">contact me</a> page.
        </p>
    </div>

    <hr>

    <div class="container">
        <h5>Website Description</h5>
        <p>
            I have a few projects that I wanted people to be able to play with, and decided I needed a place to
            publish them.
            I figured this was a good opportunity to challenge myself and grow my development skill-set...
            boy was I right.
            I will be adding more projects to the website over time, so be on the lookout for updates to the
            <a routerLink="/projects">projects</a> page.
        </p>
    </div>

</div>