<!-- feedback: step 3 -->
<div class="col-12" [@feedbackTrigger]>

    <h5 class="text-center mt-5">
        3.
        <u>
            verify results
        </u>
    </h5>

    <div class="col-12 mb-2 mt-5 d-none d-sm-block" style="display: flex; justify-content: center;">
        <h5 class="text-center"> was this prediction correct?</h5>
    </div>

    <div class="col-12 mb-2 mt-4 d-sm-none" style="display: flex; justify-content: center;">
        <h5 class="text-center"> was this prediction correct?</h5>
    </div>


    <!-- feedback buttons -->
    <div>

        <div class="container d-none d-lg-block">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-auto" style="padding-right: 0;">
                    <button type="button" class="btn btn-success btn-lg" (click)="handleFeedback(true)">
                        yes
                    </button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger btn-lg" (click)="handleFeedback(false)">
                        no
                    </button>
                </div>
            </div>
        </div>

        <div class="container d-lg-none">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-auto" style="padding-left: 0; padding-right: 0;">
                    <button type="button" class="btn btn-success" (click)="handleFeedback(true)">
                        yes
                    </button>
                </div>
                <div class="col-auto" style="padding-right: 0;">
                    <button type="button" class="btn btn-danger" (click)="handleFeedback(false)">
                        no
                    </button>
                </div>
            </div>
        </div>

        <br>
    </div>
</div>