<div class="container d-none d-md-block">
    <div class="row">
        <h1>Accuracy: {{this.accuracy | percent:'1.0-1'}}</h1>
    </div>
    <div class="row justify-content-center">
        <p style="padding-right: 5px;">correct: </p>
        <h5>
            <p>{{appSvc.accuracy.correct}}</p>
        </h5>
        <p style="padding-left: 10px; padding-right: 5px;">incorrect:</p>
        <h5>
            <p>{{appSvc.accuracy.incorrect}}</p>
        </h5>
    </div>
</div>

<div class="container d-md-none">
    <div class="row justify-content-center">
        <h1>Accuracy: {{this.accuracy | percent:'1.0-1'}}</h1>
    </div>
    <div class="row justify-content-center">
        <p>
            correct: {{appSvc.accuracy.correct}}
        </p>
        <p style="padding-left: 10px;">
            incorrect: {{appSvc.accuracy.incorrect}}
        </p>
    </div>
</div>