<div class="container d-none d-md-block">
    <div class="row justify-content-center">
        <h1>Accuracy: {{this.accuracy | percent:'1.0-1'}}</h1>
    </div>
    <div class="row">
        <div class="col-6" appHighlightChangedItem>
            <p >correct: {{appSvc.accuracy.correct}} </p>
        </div>
        <div class="col-6" appHighlightChangedItem>
            <p >incorrect: {{appSvc.accuracy.incorrect}}</p>
        </div>
    </div>
</div>

<div class="container d-md-none">
    <div class="row justify-content-center">
        <h1>Accuracy: {{this.accuracy | percent:'1.0-1'}}</h1>
    </div>
    <div class="row">
        <p>correct: {{appSvc.accuracy.correct}} </p>
    </div>
    <div class="row">
        <p>incorrect: {{appSvc.accuracy.incorrect}}</p>
    </div>
</div>