<app-body-page>
    <h3>Contact Me</h3>
    <p>If you would like to find out more about me, you can reach me at the following:</p>

    <div class="row" style="display: flex; justify-content: center;">
        <div class="card col-10 col-sm-4" style="width: 18rem;">
            <img src="https://www.amocrm.com/static/images/pages/integrations/logo/linkedin.png" class="card-img-top"
                alt="LinkedIn logo">
            <div class="card-body">
                <a [attr.href]="this.contactMe.linkedin" target='_blank' class="btn btn-primary btn-block">Go</a>
            </div>
        </div>
    
        <div class="card col-10 col-sm-4" style="width: 18rem;">
            <img src="https://miro.medium.com/max/719/0*9f5uMrKMjLbzEf7q.png" class="card-img-top"
                alt="GitHub logo">
            <div class="card-body align-items-end">
                <a [attr.href]="this.contactMe.github" target='_blank' class="btn btn-primary btn-block">Go</a>
            </div>
        </div>
    
        
        <div class="card col-10 col-sm-4" style="width: 18rem;">
            <img src="https://cdn.vox-cdn.com/thumbor/Tbqi3ZF9Qz0fTJIUvkgQe3FdN0k=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/21939811/newgmaillogo.jpg" class="card-img-top"
                alt="Gmail logo">
            <div class="card-body">
                <a [attr.href]="this.contactMe.linkedin" target='_blank' class="btn btn-primary btn-block">Copy Address</a>
            </div>
        </div>
    </div>

</app-body-page>