[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
opencv-python-headless = "*"
flask-restx = "0.4.0"
flask-cors = "*"
flask = "~=1.1.4"

[dev-packages]

[requires]
python_version = "3.8"
